<div style="background-color: coral;">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur doloremque, veniam, minus et quos nisi eligendi
    asperiores modi delectus maiores ratione voluptatibus itaque fuga alias. Quasi, odit odio repellat tempore molestiae
    cum
    ipsum cupiditate, laudantium velit eos aliquam illo obcaecati optio omnis, et ut dignissimos saepe ab? Veritatis
    dolorem
    illum iusto quibusdam neque magni voluptatibus! Animi debitis odit eaque beatae illum asperiores repudiandae ipsum
    modi
    tenetur? Laudantium distinctio reiciendis ex, sapiente aspernatur non laboriosam ipsa nostrum velit esse officia
    ratione
    sed consequatur cum voluptatibus quam animi unde nisi perspiciatis pariatur atque aperiam voluptatem reprehenderit.
    Nam
    hic, culpa vitae distinctio cupiditate officia accusantium facere iste temporibus ipsum minus, modi velit dolor
    deleniti
    omnis in? Incidunt distinctio quibusdam impedit rem non recusandae neque, excepturi officia. Iste ipsum dicta dolore
    voluptate enim facilis, praesentium magni amet cumque est non accusantium! Ipsum est quaerat quod in, tempora libero
    porro illo inventore placeat, et adipisci aliquid quae omn
</div>