<div style="margin-top: 5%;">

    <table class="table table-striped table-responsive-md btn-table fixed-top" style="margin-top: 4%;">
        <thead>
            <div class="row " style="font-family: Bahnschrift; background-color: lightgrey;">
                <div class="col h5" style="padding-left: 60px;">Symbol</div>
                <div class="col h5" style="padding-left: 60px;">Name</div>
                <div class="col h5" style="padding-left: 450px;">Date</div>
                <div class="col h6" style="padding-left: 70px;"> <b>No Of Shares</b></div>
                <div class="col h5" style="padding-left: 30px;">price</div>
            </div>

        </thead>
    </table>


    <table class="table table-striped table-responsive-md btn-table" style="margin-top: 8%;">


        <tbody>
            <tr *ngFor="let li of ipos">
                <th style="padding-left: 50px;">{{li.symbol}}</th>
                <th>{{li.name}}</th>
                <th>{{li.date}}</th>
                <th>{{li.numberOfShares}}</th>
                <th>{{li.price}}</th>
            </tr>

        </tbody>

    </table>
</div>