<div style="margin-top: 5%;">
    <table class="table table-striped table-responsive-md btn-table">

        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Currency</th>
                <th>Figi</th>
                <th>View More</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">BRAXF</th>
                <td>BRAXIA SCIENTIFIC CORP</td>
                <td>USD</td>
                <td>BBG00SK72178</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">View</button>
                </td>
            </tr>
            <tr>
                <th scope="row">BRAXF</th>
                <td>BRAXIA SCIENTIFIC CORP</td>
                <td>USD</td>
                <td>BBG00SK72178</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">View</button>
                </td>
            </tr>
            <tr>
                <th scope="row">BRAXF</th>
                <td>BRAXIA SCIENTIFIC CORP</td>
                <td>USD</td>
                <td>BBG00SK72178</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">View</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>