<div style="margin-top: 5%;">
    <table class="table table-striped table-responsive-md btn-table">

        <thead>
            <tr>
                <th style="padding-left: 50px;">Symbol</th>
                <th>Name</th>
                <th>Currency</th>
                <th>Figi</th>
                <th>View More</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let li of list">
                <th scope="row" style="padding-left: 50px;">{{li.symbol}}</th>
                <td>{{li.description}}</td>
                <td>{{li.currency}}</td>
                <td>{{li.figi}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"
                        (click)="showDetail(li.symbol )">View</button>
                </td>
            </tr>

        </tbody>

    </table>
</div>