<div class="h3" style="margin-left: 50px; margin-top: 7%; font-family: Bahnschrift;">
    <span style=" display: block; width: 7rem; height: 0.25rem; background: #0090ba; margin-bottom: 0.4375rem;">
    </span>
    Stock Detail
</div>

<div class="row">



    <div class="col-md-4 " style="font-family: Bahnschrift;">
        <ul class=" list-group-flush">
            <li class="list-group-item"> </li>


            <li class="list-group-item"> <b>Name</b>
                <span style="float: right; margin-right: 11%;">name</span>
            </li>
            <li class="list-group-item"> <b>Sector</b>
                <span style="float: right; margin-right: 11%;">finnhubIndustry</span>
            </li>
            <li class="list-group-item"> <b>Exchange</b>
                <span style="float: right; margin-right: 11%;">exchange</span>
            </li>
            <li class="list-group-item"> <b>Symbol</b>
                <span style="float: right; margin-right: 11%;">ticker</span>
            </li>
            <li class="list-group-item"> <b>Country</b>
                <span style="float: right; margin-right: 11%;">country</span>
            </li>
            <li class="list-group-item"> <b>Currency</b>
                <span style="float: right; margin-right: 11%;">currency</span>
            </li>
            <li class="list-group-item"> <b>Phone</b>
                <span style="float: right; margin-right: 11%;">phone</span>
            </li>
            <li class="list-group-item"> <b>IPO</b>
                <span style="float: right; margin-right: 11%;">ipo</span>
            </li>



            <li class="list-group-item"> </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class=" list-group-flush">
            <li class="list-group-item"> </li>


            <li class="list-group-item"> <b>Market Cap</b>
                <span style="float: right; margin-right: 11%;">marketCapitalization</span>
            </li>
            <li class="list-group-item"> <b>Share Outstand</b>
                <span style="float: right; margin-right: 11%;">shareOutstanding</span>
            </li>
            <li class="list-group-item"> <b>Current Time</b>
                <span style="float: right; margin-right: 11%;">t</span>
            </li>
            <li class="list-group-item"> <b>Current Price</b>
                <span style="float: right; margin-right: 11%;">c</span>
            </li>
            <li class="list-group-item"> <b>Today's High</b>
                <span style="float: right; margin-right: 11%;">h</span>
            </li>
            <li class="list-group-item"> <b>Today's Low</b>
                <span style="float: right; margin-right: 11%;">l</span>
            </li>
            <li class="list-group-item"> <b>Opening Price</b>
                <span style="float: right; margin-right: 11%;">o</span>
            </li>
            <li class="list-group-item"> <b>Previous Close</b>
                <span style="float: right; margin-right: 11%;">pc</span>
            </li>



            <li class="list-group-item"> </li>
        </ul>
    </div>
    <div class="col-md-2"> </div>
</div>