<div style="margin-top: 5%; margin-left: 10%;">
    <h1>Used Resorce</h1>

    <br><br>
    <h3>1) List of Stock</h3>
    <div style="margin-left: 2%;">
        <p class="fs-5 col-md-8 ml-3">In this, I got a list of Stock and some of the detail which is show in a List
            Component
        </p>

        <div class="mb-5">
            <a href="https://finnhub.io/api/v1/stock/symbol?exchange=US&token=c3904paad3ido5akbae0"
                class="btn btn-outline-primary btn-sm px-4" target="_blank">stocks List Api</a>
        </div>
    </div>


    <h3>2) Details of Stock</h3>
    <div style="margin-left: 2%;">
        <p class="fs-5 col-md-8 ml-3">In this, I got a Stock and Company detail which is show in a Detail Stock
            component</p>
        <p>In this we pass AAPL stock then you can show which details we got</p>

        <div class="mb-5">
            <a href="https://finnhub.io/api/v1/stock/profile2?symbol=AAPL&token=c3904paad3ido5akbae0"
                class="btn btn-outline-primary btn-sm px-4" target="_blank">Details Api</a>
        </div>
    </div>

    <h3>3) Stock Prize Detail</h3>
    <div style="margin-left: 2%;">
        <p class="fs-5 col-md-8 ml-3">In this, I got a Stock's diffrent prize value like which is show in a Detail Stock
            component</p>
        <p>In this we pass AAPL stock then you can show which details we got</p>

        <div class="mb-5">
            <a href="https://finnhub.io/api/v1/quote?symbol=AAPL&token=c3904paad3ido5akbae0"
                class="btn btn-outline-primary btn-sm px-4" target="_blank">Prize Detail Api</a>
        </div>
    </div>

    <h3>4) News By Compny Name</h3>
    <div style="margin-left: 2%;">
        <p class="fs-5 col-md-8 ml-3">In this I got a news of particular company</p>
        <p>In this we pass AAPL stock then you can show which details we got</p>

        <div class="mb-5">
            <a href="https://finnhub.io/api/v1/company-news?symbol=AAPL&from=2021-03-01&to=2021-03-09&token=c3904paad3ido5akbae0"
                class="btn btn-outline-primary btn-sm px-4" target="_blank">Company News Api</a>
        </div>
    </div>

    <h3>5) Market News</h3>
    <div style="margin-left: 2%;">
        <p class="fs-5 col-md-8 ml-3">In this I got a all market news.</p>

        <div class="mb-5">
            <a href="https://finnhub.io/api/v1/news?category=general&token=c3904paad3ido5akbae0"
                class="btn btn-outline-primary btn-sm px-4" target="_blank">Market News Api</a>
        </div>
    </div>

    <h3>6) IPO Calender</h3>
    <div style="margin-left: 2%;">
        <p class="fs-5 col-md-8 ml-3">In this I got a list of IPO and some of it's details</p>

        <div class="mb-5">
            <a href="https://finnhub.io/api/v1/calendar/ipo?from=2020-01-01&to=2020-04-30&token=c3904paad3ido5akbae0"
                class="btn btn-outline-primary btn-sm px-4" target="_blank">IPO calender Api</a>
        </div>
    </div>


</div>