main{
    background: url(../../assets/1.jfif) no-repeat center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    min-height: fit-content;
    position: absolute;
    margin: 0;
    background-size: cover;
}
.title{
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    text-shadow: 6px 6px 0px rgb(0 0 0 / 25%);
    animation-duration: 1000ms;
    font-family: Oswald, sans-serif !important;
    line-height: 1;
    margin-top: 9%;
}

.btnn{

    font-size: 2rem;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
    text-shadow: 6px 6px 0px rgb(0 0 0 / 25%);
    animation-duration: 1000ms;
    font-family: Oswald, sans-serif !important;
    line-height: 1;
    margin-top: 9%;

}

@media (max-width: 575px){
    .title{
        font-size: 3rem;
    }
}